@model DMOficialGestorDeTareasMVC.Models.DMPrioridad

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1 class="my-4">Detalles de la Prioridad</h1>
    <div class="border p-4 rounded mx-auto">
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.DMNombre)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.DMNombre)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.DMDescripcion)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.DMDescripcion)
            </dd>
        </dl>
    </div>
    <div class="mt-4 mx-auto">
        <a asp-action="Edit" asp-route-id="@Model?.DMPrioridadID" class="btn btn-primary">Editar</a>
        <a asp-action="Index" class="btn btn-secondary">Volver a la Lista</a>
    </div>
</div>